<!DOCTYPE html>
<html>
  <head>
    <title>Tattoos</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
        <%= link_to 'New Tattoo', new_tattoo_path %>
        <%= link_to 'New User', new_user_path %>
        <%= link_to 'New Design', new_design_path %>
    <%= yield %>
  </body>
</html>
